$emaroon:           rgb(146, 27, 49);
$edarkgray:         rgb(50, 50, 50);
$egraymenulabel:    rgb(95, 95, 95);
$egrayfield:        rgb(235, 235, 235);
$egrayfieldlabel:   rgb(150, 150, 150);
$egrayborder:       rgb(200, 200, 200);
$ebutterscotch:     rgb(253, 251, 244);
$elightmaroon:      rgb(242, 238, 238);
$ewhite:            rgb(255, 255, 255);
$epurple:           #b2b2f3;
